//colors
$bodycolor           : #477ca1;
$black           	 : #7B3cb5;
$white               : #201602;
$color_gray          : #e8e8e8;
$red                 : #FF4136;
$maroon              : #85144b;
$color_tuatara       : #948E48;
$color_shark         : #6C6823;
$color_mischka       : #d0d1d5;
$color_mercury       : #e5e6e9;
$color_bon_jour      : #dfe0e4;
$color_gallery       : #f0f0f0;
$color_stack         : #8c8b8b;
$color_alabaster     : #f9f9f9;
$color_tundora       : #A88339;
$color_fuscous_gray  : #A88339;
$color_alabaster     : #fcfcfc;
$color_celeste       : #ccc;
$color_pink_swan     : #bbb;
$comp-color 	     : complement(#A88339); 

//button colors
$success			 : #5cb85c;
$warning			 : #dd8338;
$danger				 : #C64537;
$info		         : #308cbc;

//fonts
$font1               : 'VT323', monospace;
$font2               : Inconsolata;
$alt-font            : serif;
//$doc-font-size       : 16;
//$doc-line-height     : 2;

//media
$small               : "only screen and (max-width: 30em)";
$medium              : "only screen and (min-width: 30.1em) and (max-width: 48em)";
$large               : "only screen and (min-width: 48.1em) and (max-width: 62.5em)";
$notsmall            : "only screen and (min-width: 48em)";
